<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--Driver name to connect to the database-->
        <property name="driverClass">
            <value>${mysql.login.jdbc.driver}</value>
        </property>
        <!--DB URL-->
        <property name="jdbcUrl">
            <value>${mysql.login.url}</value>
        </property>
        <!--DB User used to connect to the schema-->
        <property name="user">
            <value>${mysql.login.username}</value>
        </property>
        <!--Password required to access for the above user-->
        <property name="password">
            <value>${mysql.login.password}</value>
        </property>
        <!-- configuration pool via c3p0-->
        <property name="acquireIncrement">
            <value>${mysql.c3p0.acquireIncrement}</value>
        </property>
        <property name="idleConnectionTestPeriod">
            <value>${mysql.c3p0.idleConnectionTestPeriod}</value>
            <!-- seconds -->
        </property>
        <property name="maxPoolSize">
            <value>${mysql.c3p0.maxPoolSize}</value>
        </property>
        <property name="maxStatements">
            <value>${mysql.c3p0.maxStatements}</value>
        </property>
        <property name="minPoolSize">
            <value>${mysql.c3p0.minPoolSize}</value>
        </property>
        <property name="initialPoolSize">
            <value>${mysql.c3p0.initialPoolSize}</value>
        </property>
        <property name="maxIdleTime">
            <value>${mysql.c3p0.maxIdleTime}</value>
        </property>
        <property name="acquireRetryAttempts">
            <value>${mysql.c3p0.acquireRetryAttempts}</value>
        </property>
        <property name="acquireRetryDelay">
            <value>${mysql.c3p0.acquireRetryDelay}</value>
        </property>
        <property name="breakAfterAcquireFailure">
            <value>${mysql.c3p0.breakAfterAcquireFailure}</value>
        </property>
    </bean>

</beans>
